<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/siteEntrance/bootstrap-3.3.7/css/bootstrap.css" media="screen"
          title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/css/siteEntrance/font-awesome-4.6.3/css/font-awesome.min.css">
</head>

<body>

<div class="container">
<div class="page-header">
   <h2>Welcome to WGRAS <br>
                <small>- Web GIS For Risk Assessment</small>
            </h2>
</div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% if user %}
                        Welcome {{ user.username }}!
                        {% endif %}</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="message-panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#message-panel"
                                       aria-expanded="true" aria-controls="message-panel">
                                    <span class="glyphicon glyphicon-chevron-right"
                                          aria-hidden="true"></span>
                                        Messages<span
                                            class="badge">{% if conversations %}{{conversations|length}}{% endif %}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="message-panel" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="message-panel-heading">
                                <div class="panel-body">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Recieved messages</div>
                                        <div class="panel-body">
                                            <div class="list-group" id="conversation-panel-list-group">
                                                {% for conversation in conversations %}
                                                <div class="list-group-item">
                                        <span class="glyphicon glyphicon-envelope"
                                              aria-hidden="true"></span>&nbsp;&nbsp;
                                                    <a href="#" class="messagelink" id="conversation-{{conversation.conversationId}}">{{conversation.title}}</a>
                                                    &nbsp;&nbsp;
                                                    &nbsp;&nbsp;
                                                    <button type="button" class="btn btn-default conversation-delete-btn" data-conversation-id="{{conversation.conversationId}}"><span
                                                            class="glyphicon glyphicon-trash"
                                                            aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">Start new message thread</div>
                                        <div class="panel-body" id="new-conversation-panel">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="new-message-reciever"
                                                           class="col-sm-2 control-label">To:</label>
                                                    <div class="col-sm-10">

                                                        <select class="form-control" id="new-message-reciever">
                                                            {% for u in users %}
                                                            {% if u.username!=user.username %}
                                                            <option>{{u.username}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <label for="new-message-title"
                                                           class="col-sm-2 control-label">Title:</label>
                                                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="new-message-title" placeholder="Title" required>
                                                    </div>

                                                    <label for="new-message-text"
                                                           class="col-sm-2 control-label">Message:</label>
                                                    <div class="col-sm-10">
                        <textarea id="new-message-text" class="form-control"
                                  placeholder="Message" required></textarea>
                                                    </div>
                                                    <input type="hidden" id="new-message-sender-id"
                                                           value="{{user.userId}}">
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button type="submit" class="btn btn-default"
                                                                id="new-message-send-btn">Send
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class='alert alert-danger' id="new-conversation-alert" role='alert' style="visibility:hidden">Title and message can not be empty</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="personal-settings-panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#personal-settings-panel" aria-expanded="false"
                                       aria-controls="personal-settings-panel">
                                    <span class="glyphicon glyphicon-chevron-right"
                                          aria-hidden="true"></span>
                                        Personal
                                    </a>
                                </h4>
                            </div>
                            <div id="personal-settings-panel" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="personal-settings-panel-heading">
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        {% if user %}
                                        {% for key, value in user.iteritems() %}
                                        {% if key == 'userId' %}

                                        {% else %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">{{ key }}:</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">{{ value }}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Map application</div>
                <div class="panel-body">
                    <a href="/map" role="button" class="btn btn-default btn-lg" data-toggle="tooltip"
                       data-placement="right" title="Go to map" id="mapBtn">
                        <i class="fa fa-map-o" aria-hidden="true"></i> Map application
                    </a>
                    <br>
                    <br>
                    <p>
                        Some info Some info Some info Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some info Some info Some info Some info Some info Some info Some info
                        Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some info Some info Some info Some info Some info Some info Some info
                        Some info Some info Some info Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some
                        info Some info Some info Some info Some info Some info Some info Some info Some info Some info
                        Some info Some info Some info Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some
                        info
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Manager application</div>
                <div class="panel-body">
                    {% if accessManagerApp %}
                    <a href="/manager" role="button" class="btn btn-default btn-lg" id="managerBtn" data-toggle="tooltip"
                       data-placement="right" title="Go to manager">

                        <i class="fa fa-cogs" aria-hidden="true"></i> Manager application
                    </a>

                    {% else %}
                    <a role="button" class="btn btn-default btn-lg" disabled="disabled">
                        <i class="fa fa-cogs" aria-hidden="true"></i> Manager application
                    </a>
                    {% endif %}
                    <br>
                    <br>
                    <p>
                        Some info Some info Some info Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some info Some info Some info Some info Some info Some info Some info
                        Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some info Some info Some info Some info Some info Some info Some info
                        Some info Some info Some info Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some
                        info Some info Some info Some info Some info Some info Some info Some info Some info Some info
                        Some info Some info Some info Some info Some info Some info Some info Some info Some info Some
                        info Some info Some info Some
                        info
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Message modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body" id="message-modal-body">
                <div id="message-modal-messagetext"></div>
                <br>
                <form class="form">
                    <div class="form-group">
                        <textarea id="message-modal-reply-text" class="form-control" style="min-width: 100%"
                                  placeholder="Reply"></textarea>
                        <input type="hidden" id="message-modal-reciever-id">
                        <input type="hidden" id="message-modal-conversation-title">
                        <input type="hidden" id="message-modal-conversation-id">
                    </div>
                    <button type="submit" class="btn btn-default" id="message-modal-send-btn">Send</button>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="current-user-id" value="{{user.userId}}">
<input type="hidden" id="current-user-name" value="{{ user.username }}">


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/css/siteEntrance/bootstrap-3.3.7/js/bootstrap.js">
</script>

<script type="text/javascript" src="/static/siteEntrance/js/main.js">
</script>

</html>
