@font-face {
    font-family: 'latothin';
    src: url('../fonts/latothin/lato-thin-webfont.eot');
    src: url('../fonts/latothin/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/latothin/lato-thin-webfont.woff2') format('woff2'),
    url('../fonts/latothin/lato-thin-webfont.woff') format('woff'),
    url('../fonts/latothin/lato-thin-webfont.ttf') format('truetype'),
    url('../fonts/latothin/lato-thin-webfont.svg#latothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.19);
     transition: 0.7s ease;
}
input:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.9)
}

input:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.19);
     transition: 0.7s ease;
}
input:hover:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.9)
}

input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.19);
     transition: 0.7s ease;
}
input:hover::-moz-placeholder { /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.9)
}

input:-ms-input-placeholder {
    color: rgba(123, 200, 243, 0.9);
     transition: 0.7s ease;
}
input:hover:-ms-input-placeholder {
   color: rgba(0, 0, 0, 0.9)
}

* {
    font-family: latothin, "Courier New", Courier, monospace;
}

input:focus {
    outline: 0;

}

.load * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.login-form-title-text {
    font-weight: normal;
    font-style: normal;
}

.login-form-div-title {
    width: 400px;
    position: fixed;
    margin-left: -200px;
    top: 11%;
    text-align: center;
    left: 50%;
    /*
    border: 2px solid black;
    */
}

.login-form-div {
    width: 400px;
    height: 340px;
    position: fixed;
    margin-top: -170px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    /*
    border: 2px solid black;
    */
}

.login-form-div-wrapper {
    width: 380px;
    height: 300px;
    position: fixed;
    margin-top: -150px;
    margin-left: -190px;
    top: 50%;
    left: 50%;
    /*
        border: 2px solid black;
    */
}

.login-input {
    width: 375px;
    height: 60px;
    font-size: 35px;
    border: none;
    background-color: whitesmoke;
    padding: 2px 2px 2px 10px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.userName-input {
    margin: 0px 0px 2px 2px;
    background-color: #ffffff;
    border-bottom: dashed #8a8a8a 1px;
    transition: 0.7s ease;
}

.userName-input:hover {


}

.password-input {
    margin: 0px 0px 2px 2px;
    background-color: #ffffff;
    border-bottom: dashed #8a8a8a 1px;
    transition: 0.5s ease;
}

.password-input:hover {

}

input[type=submit] {
    width: 375px;
    height: 40px;
    border: none;
    margin: 40px 0px 2px 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color: rgba(123, 200, 243, 0.5);

    /*background-color: #7BC8F3;*/
    /*-webkit-transition: background-color .3s; /* Safari */
    /*transition: background-color  .3s;
    transition-timing-function: ease-in-out;*/
}

@keyframes errorAnimation {
    0% {
        color: lightgrey;
    }
    50% {
        color: #ff0000;
    }
    100% {
        color: grey;
    }
}

p.login-error-message {
    color: grey;
    font-size: large;
    text-align: center;
    animation-name: errorAnimation;
    animation-duration: 1.5s;

}
