<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/login/login.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/login.css') }}">
    <title>WGRAS</title>
</head>
<body class="load">
<div class="login-form-div-title"><h1 class="login-form-title-text">Welcome to WGRAS</h1></div>

<div class="login-form-div">

    <div class="login-form-div-wrapper">
        <form action="" method="POST">
            <input type="text" name="userName" class="login-input userName-input" placeholder="username" autofocus
                   autocomplete="off">
            <br>
            <input type="password" name="pw" class="login-input password-input" placeholder="password"
                   autocomplete="off">
            <br>
            <input type="submit" class="login-submit" id="loginBtn" value="Login">
        </form>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="login-error-message">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', function load() {
        window.removeEventListener('load', load, false);
        document.body.classList.remove('load');
    }, false);
</script>
</body>
</html>
