/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */
//$base-color:dynamic(#aa863a);
//$button-default-base-color: #729f98;
//$button-toolbar-background-color: #729f98;
$enable-font-awesome: dynamic(true);
$grid-row-cell-focus-border-color: rgba(0, 0, 0, 0);
$grid-cell-selected-background-color: rgba(255, 255, 255, 1);
$grid-row-cell-selected-background-color: rgba(255, 255, 255, 1);
$panel-body-font-weight:'bold';
.actioncol-icons {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  margin-left: 2px;
}
table.identityTable {
                border: 1px solid black;
                border-collapse: collapse;
              th, td{
                border: 1px solid black;
              }
            }

.whoDisclaimer{
  max-width: 70%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding:2px;
  bottom:0.5em;
  left:170px;
  height:17px;
  .whoDisclaimerInner{
    visibility: hidden;
  }
}

.whoDisclaimer:hover{
  height: 100px;
  font-size: 14px;
  padding:10px;
  .whoDisclaimerInner{
    visibility: visible;
  }

}




