 
.spinner {
  height: 100px;
  width: 100px;
  margin: 94px auto 0 auto;
  position: fixed;
    top:30%;
    left:50%;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 10px solid rgba(0, 174, 239, 0.15);
  border-right: 10px solid rgba(0, 174, 239, 0.15);
  border-bottom: 10px solid rgba(0, 174, 239, 0.15);
  border-top: 10px solid rgba(0,0,0, 0.5);
  border-radius: 100%;
    z-index: 10000000000000;

}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}