.legend {
    border: 1px solid black;
    border-radius: 3px;
    width: 150px;
    font-size: 12px;
    font-weight:bold;
    top: 10px;
    right: .5em;
    padding: 5px;

}

.legendList {
    list-style-type: none;
    margin: 0;
    padding:0;

}

.legendDescription {
    display: inline;
}

.legendSymbol {
    display: inline-block;;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 5px;
}